/* Caret */
#name::after {
	content: '';
	padding-left: 0.4rem;
	border-right: 0.5rem solid transparent;
	animation: 0.6s linear infinite alternate blinking;
}

@keyframes blinking {
	0% {
		border-color: inherit;
	}
	90% {
		border-color: transparent;
	}
}

/* Entrances */
#enzo-face {
	animation: appearFromBottomShort 0.6s forwards;
	opacity: 0;
}

#short-description {
	animation: appearFromBottomShort 0.6s forwards;
	opacity: 0;
}

#name {
	animation: appearFromBottomUltraIntense 0.6s forwards;
	opacity: 0;
}

#profile-buttons > a {
	animation: appearFromBottomIntense 0.6s forwards;
	opacity: 0;
}

@media (width >= 64rem) {
	#enzo-face {
		animation: appearFromLeftShort 0.6s forwards;
	}

	#name,
	#short-description {
		animation: appearFromRightShort 0.6s forwards;
	}

	#profile-buttons > a {
		animation: appearFromRightIntense 0.6s forwards;
	}
}

@keyframes appearFromLeftShort {
	from {
		opacity: 0;
		transform: translateX(15%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes appearFromRightIntense {
	from {
		opacity: 0;
		transform: translateX(-35%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes appearFromRightShort {
	from {
		opacity: 0;
		transform: translateX(-15%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes appearFromBottomShort {
	from {
		opacity: 0;
		transform: translateY(-15%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes appearFromBottomIntense {
	from {
		opacity: 0;
		transform: translateY(-35%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes appearFromBottomUltraIntense {
	from {
		opacity: 0;
		transform: translateY(-55%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}