/* Fly-up */
html:not(.no-js) .gsap-fly-up {
	opacity: 0;
	transform: translateY(50px);
	filter: blur(0.4rem);
}

/* View Transitions */
@view-transition {
	navigation: auto;
}

::view-transition-old(root) {
	animation: evaporate 1.2s cubic-bezier(0.76, 0, 0.24, 1) both;
}

::view-transition-new(root) {
	animation: condense 1.2s 1s cubic-bezier(0.76, 0, 0.24, 1) both;
}

::view-transition-image-pair(root) {
	isolation: isolate;
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes evaporate {
	from {
		opacity: 1;
		transform: scale(1) translateY(0);
		filter: blur(0rem);
	}
	to {
		opacity: 0;
		transform: scale(1.05) translateY(-4rem);
		filter: blur(0.7rem);
	}
}

@keyframes condense {
	from {
		opacity: 0;
		transform: scale(0.95) translateY(4rem);
		filter: blur(0.7rem);
	}
	to {
		opacity: 1;
		transform: scale(1) translateY(0);
		filter: blur(0rem);
	}
}
