@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
	--font-*: initial;
	--font-sans: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;

	--color-enzo-morning: #4f9bf2;
	--color-enzo-sky: #2276d6;
	--color-enzo-almost-night: #03295b;
	--color-enzo-night: #031245;
	--color-enzo-midnight: #00151e;
	--shadow-enzo-big: 0px 0px 50px -12px rgb(0 0 0 / 0.25);
	--shadow-enzo-small: 0px 0px 20px -7px rgba(0, 0, 0, 0.3);
	--text-shadow-enzo: 0px 0px 20px rgba(0, 0, 0, 0.3);
	--text-shadow-test: 0 2px 8px rgba(0, 0, 0, 0.25);
}

@layer components {
	.btn {
		@apply flex cursor-pointer flex-row items-center text-center transition-all duration-300 ease-in-out hover:scale-105 active:scale-95;
	}

	.btn-primary {
		@apply border border-neutral-600 bg-neutral-800 text-neutral-200 dark:border-neutral-400 dark:bg-neutral-100 dark:text-neutral-800;
		@apply hover:bg-neutral-900 hover:text-white dark:hover:bg-white dark:hover:text-black;
	}
	.btn-secondary {
		@apply border border-neutral-400/20 bg-neutral-400/30 text-neutral-800 backdrop-blur-lg dark:border-neutral-500/20 dark:bg-neutral-400/20 dark:text-neutral-200;
		@apply hover:bg-neutral-500/30 hover:text-black hover:dark:bg-neutral-300/20 hover:dark:text-white;
	}
	.btn-alternative {
		@apply border border-white/10 bg-enzo-night/35 text-white backdrop-blur-lg dark:bg-neutral-200/20 dark:text-neutral-200;
		@apply hover:border-white hover:bg-white hover:text-enzo-night hover:shadow-enzo-big hover:shadow-white dark:hover:shadow-white/60;
	}

	.btn-sm {
		@apply gap-1.75 rounded-xl px-3 py-1.75 text-sm;
	}
	.btn-md {
		@apply gap-2 rounded-xl px-3 py-2 text-base;
	}
	.btn-lg {
		@apply gap-3 rounded-2xl px-4 py-2.5 text-lg;
	}

	#short-description > strong {
		@apply font-extrabold;
	}

	.highlight-strong > strong {
		@apply text-black dark:text-white;
	}

	body {
		@apply selection:bg-enzo-sky selection:text-white dark:selection:bg-enzo-morning dark:selection:text-enzo-almost-night;
	}
}
